{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">AskPupkin</a>

        <form class="d-flex me-3" role="search" action="{% url 'index' %}">
            <input class="form-control me-2" type="search" name="q" placeholder="Search">
            <a href="{% url 'ask' %}" class="btn btn-primary me-3">Ask</a>
        </form>

        <div class="d-flex gap-3 align-items-center">
            {% if user.is_authenticated %}
                <div>
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" class="img-thumbnail" width="40">
                    {% else %}
                        <img src="{% static 'images/default_avatar.jpg' %}" class="img-thumbnail" width="40">
                    {% endif %}
                </div>
                <div>
                    <div>{{ user.username }}</div>
                    <div class="d-flex gap-2">
                        <a href="#">Settings</a>
                        <a href="{% url 'logout' %}">Log out</a>
                    </div>
                </div>
            {% else %}
                <div class="d-flex gap-2">
                    <a href="{% url 'login' %}">Log in</a>
                    <a href="{% url 'signup' %}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>