{% load static %}
<article class="d-flex gap-3 flex-column mt-2">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div style="height: 100px; overflow: hidden;" class="border mb-2 w-100 d-flex align-items-center justify-content-center">
                        {% if question.author.profile.avatar %}
                            <img src="{{ question.author.profile.avatar.url }}" alt="avatar" class="img-fluid" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                        {% else %}
                            <img src="{% static 'images/default_avatar.jpg' %}" alt="avatar" class="img-fluid" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-sm btn-outline-success d-flex align-items-center mb-1 like-question"
                                data-question-id="{{ question.id }}" data-action="like">
                            <i class="bi bi-arrow-up me-1"></i>
                            <span class="badge bg-success bg-opacity-10 text-success ms-1 like-count">
                                {{ question.like_count }}
                            </span>
                        </button>
                        <button class="btn btn-sm btn-outline-danger d-flex align-items-center dislike-question"
                                data-question-id="{{ question.id }}" data-action="dislike">
                            <i class="bi bi-arrow-down me-1"></i>
                            <span class="badge bg-danger bg-opacity-10 text-danger ms-1 dislike-count">
                                {{ question.dislike_count }}
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">
                            <a href="{% url 'question' question.id %}">{{ question.title }}</a>
                        </h5>
                        <p class="card-text">
                            {{ question.content|truncatewords:30 }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'question' question.id %}">Answers ({{ question.answer_count }})</a>
                        </div>
                        <div class="col">
                            <span>Tags:</span>
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag.title %}" class="badge rounded-pill text-bg-primary me-1">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>